/* basic */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/* header */

header {
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-li {
    font-family: Roboto;
    font-size: 16px;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

.header-ul {
    padding: 0;
    margin: 0;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    padding: 0.87rem;
    text-align: left;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
}

.dropdown-menu a:not(:last-child) {
    margin-bottom: 0.75rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

h1 {
    text-align: center;
    font-family: Yeseva One;
    font-size: 40px;
    color: rgb(54, 54, 54);
}

.header-li:not(:last-child) {
    border-right: 1px solid rgba(54, 54, 54, 0.5); 
    padding-right: 1rem; 
}

.active, .on  {
    font-weight: 600;
    color: rgb(127, 42, 207);
}


.inactive, .off {
    color: rgb(97, 68, 125);
}

.inactive:hover, .off:hover {
    font-weight: 500;
    color: rgb(197, 134, 255);
}

/* index */

.memoji {
    margin-left: 1.5rem;
    margin-top: 1rem;
    max-width: 11rem;
    max-height: 9rem;
}

.welcome {
    background-color: rgba(170, 134, 229, 0.15);
}

.flex {
    display: flex;
}

section {
    padding: 2rem;
}

h2 {
    font-family: Yeseva One;
    font-size: 28px;
    text-align: center;
    color: rgb(76, 64, 138);
}

p {
    font-family: Roboto;
    color: rgb(26, 25, 25);
}

/* slick */

.slider {
    margin-right: 1rem;
    margin-left: 1rem;
}

.slick-slide {
	transform: scale(0.8);
	transition: all 0.4s ease-in-out;
	padding: 30px 0;
}


.slick-slide .img1 {
	max-width: 100%;
	transition: all 0.4s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.slick-slide .img2 {
    max-width: 100%;
	transition: all 0.4s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.slick-center {
	transform: scale(1.1);
}

.slick-prev:before {
    color: rgb(76, 64, 138) !important;
    background-color: #ffffff;
  
  }

.slick-next:before {
    color: rgb(76, 64, 138) !important;
    background-color: #ffffff;
  }

.title {
    color: rgb(26, 25, 25);
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
}

.item {
    text-align: center;
}

.title:hover {
    color: rgb(197, 134, 255);
}

/* projects */

.grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.view-btn {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    max-height: 2rem;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.75rem;
    background-color: rgb(141, 56, 220);
    border-radius: 3px;
    border: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 1rem;
}

.view-btn:hover, .visit-btn:hover {
    background-color: rgb(104, 38, 165);
}

.view-btn a {
    text-decoration: none;
    color: white;
}


.card .flex {
    margin-top: -1.5rem;
}

h3 {
    font-family: Roboto;
    color: rgb(26, 25, 25);
}

/* project details */

.date {
    margin-top: -1rem;
    font-family: Yeseva One;
    text-align: center;
    color: rgb(66, 65, 73);
    font-size: 21px;
}

.details h4 {
    color: rgb(26, 25, 25);
    font-family: Roboto;
    font-size: 18px;
    margin-bottom: -0.3rem;
    margin-top: 0rem;
}

.container {
    padding: 1.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 4rem;
}

.s2 {
    margin-top: -1.5rem;
    margin-bottom: -5rem;
}

.skills li {
    font-family: Roboto;
    margin-left: -1rem;
}

.functions {
    font-size: 18px;
}

.visit-btn {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    background-color: rgb(141, 56, 220);
    border-radius: 3px;
    border: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.visit-btn2 {
    right: 0rem;
    top: 2rem;
    position: relative;
    font-family: Roboto;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 0.6rem;
    background-color: rgb(141, 56, 220);
    border-radius: 3px;
    border: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* contact */

.form {
    font-family: Roboto;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label, input {
    display: block;
    margin-bottom: 10px; 
}

input[type="text"], input[type="email"] {
    width: 250px;
    height: 17px;
}

textarea {
    width: 375px;
    height: 100px;
}

input[type="submit"] {
    color: white;
    margin-top: 0.75rem;
    padding: 0.6rem;
    width: 70px;
    background-color: rgb(141, 56, 220);
    border-radius: 3px;
    border: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 19.5rem;
    margin-bottom: -0.35rem;
}

input[type="submit"]:hover {
    background-color: rgb(104, 38, 165);
}

span {
    color: rgb(198, 5, 5);
}

/* footer */

footer {
    background-color: rgba(76, 64, 138);
    padding: 2rem;
}

.footer-ul {
    margin-top: -0.75rem;
    margin-left: -2.5rem;
    list-style: none;
}

.footer-li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
}

.footer-li {
    margin-bottom: 0.1rem;
}

.footer-li a:hover {
    color: rgb(189, 104, 231);
}

footer h4 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
}

@media screen and (min-width: 600px) {

    .memoji {
        max-width: 100%;
        margin-left: 5rem;
    }

    .bio {
        max-width: 50vw;
    }

    .flex {
        justify-content: center;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .bio-container {
        padding-bottom: 2rem;
    }

    .block {
       margin: 0;
    }
    
    form {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .visit-btn2 {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 950px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr)); /* Adjust as needed */
        gap: 20px;
    }

    .card img {
        max-width: 20vw;
        margin-right: 1rem;
    }

    .card {
        display: flex;
    }

    .block {
        display: inline-block;
    }

    .card {
        margin-bottom: 0rem;
        padding: 20px;
    }

    .view-btn {
        padding-bottom: 0.75rem;
        float: right;
        margin: 0;
    }

    .container-flex {
        display: flex;
    }

    .flex-div {
        max-width: 60vw;
    }

    .container {
        padding: 2rem;
        padding-bottom: 5rem;
    }

    .s2 {
        margin-top: -4.5rem;
    }

    .visit-btn {
        margin-top: -2rem;
    }

    .skills-container {
        margin-left: 3rem;
    }

    .block2 {
        display: block;
    }
}