/* basic */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

section {
    padding: 2rem;
}

h2 {
    font-family: Yeseva One;
    font-size: 26px;
    text-align: center;
    color: rgba(87, 76, 134, 1);
}

p {
    font-family: Roboto;
}

/* header */

header {
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-li {
    font-family: Roboto;
    font-size: 16px;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

.header-ul {
    padding: 0;
    margin: 0;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    padding: 0.87rem;
    text-align: left;
}

.dropdown-menu a {
    text-decoration: none;
    color: rgb(97, 68, 125);
    display: block;
}

.dropdown-menu a:not(:last-child) {
    margin-bottom: 0.75rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    font-weight: 500;
    color: rgb(197, 134, 255);
}

h1 {
    text-align: center;
    font-family: Yeseva One;
    font-size: 40px;
    color: rgb(54, 54, 54);
}

.header-li:not(:last-child) {
    border-right: 1px solid rgba(54, 54, 54, 0.5); 
    padding-right: 1rem; 
}

.active {
    font-weight: 500;
    color: rgb(106, 48, 160);
}

.inactive {
    color: rgb(97, 68, 125);
}

.inactive:hover {
    color: rgb(197, 134, 255);
}

/* index */

.memoji {
    margin: 1.5rem;
    max-width: 28vw;
}

.welcome {
    background-color: rgba(114, 100, 176, 0.199);
}

.flex {
    display: flex;
}

/* slick */

.slider {
    margin-right: 1rem;
    margin-left: 1rem;
}

.slick-slide {
	transform: scale(0.8);
	transition: all 0.4s ease-in-out;
	padding: 30px 0;
}


.slick-slide img {
	max-width: 100%;
	transition: all 0.4s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.slick-center {
	transform: scale(1.1);
}

.slick-prev:before {
    color: rgb(149, 107, 195) !important;
    background-color: #ffffff;
  
  }

.slick-next:before {
    color: rgb(149, 107, 195) !important;
    background-color: #ffffff;
  }

figcaption {
    text-align: center;
    padding-top: 0.25rem;
}

figcaption a {
    color: rgb(97, 68, 125);
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
}

figcaption a:hover {
    color: rgb(197, 134, 255);
}

/* projects */

.grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.view-btn {
    margin-left: 1rem;
    margin-top: 2.5rem;
    height: 2.5rem;
    width: 6rem;
    background-color: rgb(36, 153, 237);
    border-radius: 3px;
    border: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.view-btn:hover {
    background-color: rgb(28, 119, 184);
}

.view-btn a {
    text-decoration: none;
    color: white;
}

.card p {
    width: 300px;
} 

.card .flex {
    margin-top: -1.5rem;
}

h3 {
    font-family: Roboto;
}

/* project details */

.date {
    margin-top: -1rem;
    font-family: Yeseva One;
    text-align: center;
    color: rgb(66, 65, 73);
    font-size: 20px;
}

.details h4 {
    font-family: Roboto;
}

/* contact */

.form {
    background-color: white;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Roboto;
    margin-bottom: 2.5rem;
}

label, input {
    display: block;
    margin-bottom: 10px; 
}

input[type="text"], input[type="email"] {
    width: 250px;
    height: 17px;
}

textarea {
    width: 375px;
    height: 100px;
}

input[type="submit"] {
    color: white;
    margin-top: 0.75rem;
    padding: 0.5rem;
    width: 65px;
    background-color: rgb(36, 153, 237);
    border-radius: 3px;
    border: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 19.5rem;
    margin-bottom: -0.35rem;
}

input[type="submit"]:hover {
    background-color: rgb(28, 119, 184);
}

span {
    color: rgb(198, 5, 5);
}

/* footer */

footer {
    background-color: rgba(87, 76, 134, 1);
    padding: 2rem;
}

.footer-ul {
    margin-top: -0.75rem;
    margin-left: -2.5rem;
    list-style: none;
}

.footer-li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
}

.footer-li {
    margin-bottom: 0.1rem;
}

.footer-li a:hover {
    color: rgb(189, 104, 231);
}

footer h4 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
}

@media screen and (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
      }
}